.navbar-default {
    background-color: #4aaaa5;
}

.navbar-brand{
	background-color: #4aaaa5;
	color:#FFFFFF;
}

.footer{
	background-color:#4aaaa5;
	color:white;
}

.panel{
	color:#4aaaa5;
}

.img{
	width:75px;
	height:80px;
	margin-bottom:10px;
	
}

.img2{
	width:115px;
	height:150px;
	float:left;
	margin-right: 10px;
}

#main-container{
	background-image:url("../images/vertical-waves.png");
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat:no-repeat;
	min-height:750px;
}

.white{
	background-color:white;
	border:#4aaaa5 1px solid;

}

#icons{
	align-content: center;
}
